<!doctype html>
<html class="no-js" lang="zxx">
<% include head %>

<body>
    <div class="wrapper">
        <!-- header start -->
        <% include userheader %>
        <div class="overview-area pt-135 pb-120">
            <!-- section container starts -->
            <div class="container">
                <div class="row">
                    <center class="table-responsive">
                        <h1>View Buyer List of Your Products</h1>
                        <div>
                            <table class="table text-center table-bordered table-striped  ta table-hover">
                                <tr>
                                    <th>Product ID</th>
                                    <th>User Id</th>
                                    <th>Base Price</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                <% for(let row of plist) { %>
                                    <tr>
                                        <td><%= row._id %></td>
                                        <td><%= row.uid %></td>
                                        <td><%= row.AuctionBasePrise %></td>
                                        <td><%= row.Description %></td>                                
                                        <td><a href="/users/biddinghistoryuser?pid=<%= row._id %>">View Bid</a></a></td>                                
                                    </tr>
                                    <% } %>
        

                            </table>
                        </div>
                    </center>
                </div>
            </div>

            <!-- section container ends -->
        </div>

        <% include  newsLatter %>
        <!-- footer -->
        <!-- modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icofont icofont-close" aria-hidden="true"></span>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="qwick-view-left">
                            <div class="quick-view-learg-img">
                                <div class="quick-view-tab-content tab-content">
                                    <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                        <img src="../img/quick-view/l1.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal2" role="tabpanel">
                                        <img src="../img/quick-view/l2.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal3" role="tabpanel">
                                        <img src="../img/quick-view/l3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view-list nav" role="tablist">
                                <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                    <img src="../img/quick-view/s1.jpg" alt="">
                                </a>
                                <a href="#modal2" data-toggle="tab" role="tab">
                                    <img src="../img/quick-view/s2.jpg" alt="">
                                </a>
                                <a href="#modal3" data-toggle="tab" role="tab">
                                    <img src="../img/quick-view/s3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="qwick-view-right">
                            <div class="qwick-view-content">
                                <h3>Aerion Carbon Helmet</h3>
                                <div class="price">
                                    <span class="new">$90.00</span>
                                    <span class="old">$120.00 </span>
                                </div>
                                <div class="rating-number">
                                    <div class="quick-view-rating">
                                        <i class="fa fa-star reting-color"></i>
                                        <i class="fa fa-star reting-color"></i>
                                        <i class="fa fa-star reting-color"></i>
                                        <i class="fa fa-star reting-color"></i>
                                        <i class="fa fa-star reting-color"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore
                                    et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">900</option>
                                            <option value="">700</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="quickview-btn-cart">
                                        <a class="btn-style" href="#">add to cart</a>
                                    </div>
                                    <div class="quickview-btn-wishlist">
                                        <a class="btn-hover" href="#"><i class="icofont icofont-heart-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>
    <% include footerLinks %>
</body>
</html>